// normal page content loaded after the spinner
#app
  background: url('../public/images/landing.jpeg') no-repeat center center fixed
  background-size: cover
  height: 100vh
  +mediaQuery($smallest)
    background-attachment: scroll

  a
    text-decoration: none

  li
    display: inline-block

#app
  display: none
  @keyframes page-load
    0%
      opacity: 0
    100%
      opacity: 1
  animation: page-load 2s
  animation-fill-mode: forwards
  backface-visibility: hidden
  perspective: 1000
