.nav-desktop
  background: $dark
  height: 100px
  position: fixed
  width: 100vw

  ul
    display: flex
    flex-direction: row
    align-items: center
    justify-content: center
    padding-top: 25px


    li
      text-align: center
      margin: 0 50px

      a
        color: $white
        font-size: 20px
