nav
  display: none
  ul
    padding: 0
    li
      text-align: center
      margin: 70px 0
      a
        color: $white
        letter-spacing: 0
        @include mediaQuery($medium)
          letter-spacing: 8px
        font-size: 30px
        &:hover
          color: $light
  +mediaQuery($small)
    display: block
    background: none
    height: 50px
    padding-top: 50px
    position: absolute
    width: 100vw
    z-index: 1
    ul
      display: flex
      flex-direction: row
      align-items: center
      justify-content: center
      margin-left: 250px
      li
        text-align: center
        margin: 0 4%
        a
          color: $white
          font-size: 20px
.nav-mobile-visible
  animation: fade-in 1s
  animation-fill-mode: forwards
  backface-visibility: hidden
  perspective: 1000
  display: flex
  flex-direction: column
  flex-wrap: wrap
  background: $black
  height: 100vh
  width: 100vw
  position: fixed
  z-index: 1
.nav-desktop-scrolled
  transition: 0.2s ease-out
  background: $modal
  position: fixed
  margin: 0 auto
  padding-top: 30px
  ul
    margin: 0 auto
