#contact
  height: 250px
  .flex-container
    flex-direction: row
    align-items: center
    justify-content: center
    img
      padding: 55px 30px 40px
      width: 50px
      @include mediaQuery($small)
        padding: 55px 60px 40px
      @include mediaQuery($medium)
        padding: 55px 100px 40px
  .copyright
    background: $black
    cursor: pointer
    text-align: center
    a
      color: $blue
