footer
  background-color: $dark
  height: 250px
  overflow: hidden
  position: absolute
  margin: 1000px auto 0
  width: 100vw
  z-index: -1

  ul
    display: flex
    padding-top: 50px
    flex-direction: row
    +mediaQuery($smallest)
      align-items: center
      flex-direction: column
      justify-content: center
      padding-left: 0
    a,
    li
      color: $light
    li
      width: 100px
      text-align: center
      +mediaQuery($smallest)
        padding: 5px 0

  .copyright
    color: $light
    padding: 175px 0 0 20px
    width: 100vw
    +mediaQuery($smallest)
    .copyright
      padding-top: 80px
