footer
  display: flex
  justify-content: center
  background-color: $dark
  bottom: 0
  width: 100vw
  position: fixed

  a
    color: $white
    display: flex
    flex-direction: column
    align-items: center

  .icon
      display: flex
      flex-direction: column
      align-items: center
      padding: 20px 50px

      p
        margin: 0
        text-align: center
