#landing
  +background('../public/images/section1.jpeg')
  box-shadow: inset 0 0 0 1000px $boxShadow
  .flex-container
    text-align: center
    h2
      color: $white
      letter-spacing: 5px
      padding-top: 100px
      +mediaQuery($small)
        padding-top: 280px
      +mediaQuery($medium)
        padding-top: 200px
        font-size: 30px
      +mediaQuery($large)
        padding-top: 300px
        font-size: 30px
    a
      +mediaQuery($medium)
        font-size: 20px
